app = 'mind-zero-five'
primary_region = 'syd'

[build]

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    grace_period = "30s"
    interval = "30s"
    method = "GET"
    path = "/health"
    timeout = "5s"

[mounts]
  source = "mz5_data"
  destination = "/data"

[[vm]]
  memory = '4096'
  cpu_kind = 'shared'
  cpus = 2
